.circle {
    background-color: black;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-size: 50px;
    width: 300px;
}

.circle > h2 {
    padding: 7px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    font-size: 50px
}

.button-click {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}