#heading {
    text-align: center;
    width: 500px;
}

img#arrow {
    height: 400px;
    position: fixed;
    top: 689px;
    left: 400px;
    transition: ease-in-out 1s;
}

img#board {
    position: relative;
    top: 500px;
    left: 85px;
    width: 800px;
}

.body {
    background-color: #FF6600;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    border-radius: 20px;
    display: table;
    vertical-align: middle;
    transform: skew(-5deg, -5deg);
}